# Ignore artifacts:
dist
node_modules
.devcontainer
docker
*.log
*.lock

# Ignore temp files
.DS_Store
.cache
.temp
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Ignore build outputs
coverage